.player {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
  
    button {
      background-color: #1db954;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 20px;
      cursor: pointer;
      margin-right: 10px;
      font-size: 16px;
      &:hover {
        background-color: darken(#1db954, 10%);
      }
      &:focus {
        outline: none;
      }
    }
  
    .time {
      color: #666;
      span {
        padding: 0 5px;
      }
    }
  }
  